<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description>Gets the latest set of keywords</description>
    <servlet-name>GetKeywords</servlet-name>
    <servlet-class>applab.search.server.GetKeywords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKeywords</servlet-name>
    <url-pattern>/getKeywords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Search for content</description>
    <servlet-name>Search</servlet-name>
    <servlet-class>applab.search.server.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get Images</description>
    <servlet-name>GetImages</servlet-name>
    <servlet-class>applab.search.server.GetImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetImages</servlet-name>
    <url-pattern>/getImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Allow a person to subscribe to an AgInfo Channel</description>
    <servlet-name>SubscribeAgInfo</servlet-name>
    <servlet-class>applab.search.server.SubscribeAgInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscribeAgInfo</servlet-name>
    <url-pattern>/subscribeAgInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Allow a person to unsubscribe to an AgInfo Channel</description>
    <servlet-name>UnsubscribeAgInfo</servlet-name>
    <servlet-class>applab.search.server.UnsubscribeAgInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsubscribeAgInfo</servlet-name>
    <url-pattern>/unsubscribeAgInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFitFeed</display-name>
    <servlet-name>UpdateFitFeed</servlet-name>
    <servlet-class>applab.search.server.UpdateFitFeed</servlet-class>
    <init-param>
      <description>The id in the database for this market_information category.</description>
      <param-name>categoryId</param-name>
      <!-- Test setting --> <param-value>63</param-value>
      <!-- Live setting <param-value>64</param-value> -->
    </init-param>
    <init-param>
      <description>The url for the Fit feed</description>
      <param-name>FitFeedUrl</param-name>
      <param-value>http://infotradeuganda.com/feed</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFitFeed</servlet-name>
    <url-pattern>/updateFitFeed</url-pattern>
  </servlet-mapping>
</web-app>